USE [QuanLyKhachSan]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 4/14/2026 9:54:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[MaCTDV] [int] IDENTITY(1,1) NOT NULL,
	[MaDatPhong] [int] NOT NULL,
	[MaDichVu] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 4/14/2026 9:54:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 4/14/2026 9:54:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[ThoiGianDat] [datetime2](7) NOT NULL,
	[ThoiGianNhan] [datetime2](7) NOT NULL,
	[NgayTraDuKien] [date] NOT NULL,
	[ThoiGianTra]  AS (dateadd(hour,(12),CONVERT([datetime],[NgayTraDuKien]))) PERSISTED,
	[SoNguoi] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 4/14/2026 9:54:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[LoaiDichVu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/14/2026 9:54:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaDatPhong] [int] NOT NULL,
	[TienPhong] [decimal](18, 2) NOT NULL,
	[TienDichVu] [decimal](18, 2) NOT NULL,
	[TongTien]  AS ([TienPhong]+[TienDichVu]) PERSISTED,
	[PhuongThucThanhToan] [nvarchar](30) NULL,
	[TienKhachDua] [decimal](18, 2) NULL,
	[TienTraLai] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[NgayLap] [datetime2](7) NOT NULL,
	[NgayThanhToan] [datetime2](7) NULL,
	[SoHoaDon] [varchar](20) NULL,
	[MaNhanVienLap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/14/2026 9:54:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](12) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 4/14/2026 9:54:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NOT NULL,
	[SoNguoiToiDa] [int] NOT NULL,
	[GiaTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/14/2026 9:54:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SDT] [varchar](10) NULL,
	[CCCD] [varchar](12) NULL,
	[Email] [varchar](100) NULL,
	[MaChucVu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 4/14/2026 9:54:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[SoPhong] [varchar](10) NOT NULL,
	[TinhTrang] [nvarchar](20) NOT NULL,
	[Tang] [int] NULL,
	[MaLoaiPhong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDichVu] ON 

INSERT [dbo].[ChiTietDichVu] ([MaCTDV], [MaDatPhong], [MaDichVu], [SoLuong], [ThanhTien]) VALUES (1, 12, 3, 2, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDichVu] ([MaCTDV], [MaDatPhong], [MaDichVu], [SoLuong], [ThanhTien]) VALUES (2, 12, 2, 2, CAST(300000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDichVu] ([MaCTDV], [MaDatPhong], [MaDichVu], [SoLuong], [ThanhTien]) VALUES (3, 13, 2, 5, CAST(750000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[DatPhong] ON 

INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianDat], [ThoiGianNhan], [NgayTraDuKien], [SoNguoi], [TrangThai]) VALUES (4, 6, 2, CAST(N'2026-04-10T15:16:51.3666667' AS DateTime2), CAST(N'2026-04-10T14:00:00.0000000' AS DateTime2), CAST(N'2026-04-13' AS Date), 3, N'Đã đặt')
INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianDat], [ThoiGianNhan], [NgayTraDuKien], [SoNguoi], [TrangThai]) VALUES (7, 7, 2, CAST(N'2026-04-13T08:23:49.9133333' AS DateTime2), CAST(N'2026-04-13T14:00:00.0000000' AS DateTime2), CAST(N'2026-04-14' AS Date), 3, N'Đã đặt')
INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianDat], [ThoiGianNhan], [NgayTraDuKien], [SoNguoi], [TrangThai]) VALUES (8, 7, 2, CAST(N'2026-04-13T08:24:03.4633333' AS DateTime2), CAST(N'2026-04-13T14:00:00.0000000' AS DateTime2), CAST(N'2026-04-14' AS Date), 2, N'Đã đặt')
SET IDENTITY_INSERT [dbo].[DatPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [LoaiDichVu]) VALUES (1, N'Spa thư giãn', CAST(300000.00 AS Decimal(18, 2)), N'Spa')
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [LoaiDichVu]) VALUES (2, N'Buffet sáng', CAST(150000.00 AS Decimal(18, 2)), N'Nhà hàng')
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [LoaiDichVu]) VALUES (3, N'Nước ngọt mini bar', CAST(25000.00 AS Decimal(18, 2)), N'Bar')
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [MaDatPhong], [TienPhong], [TienDichVu], [PhuongThucThanhToan], [TienKhachDua], [TienTraLai], [TrangThai], [NgayLap], [NgayThanhToan], [SoHoaDon], [MaNhanVienLap]) VALUES (1, 10, CAST(500000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Tiền mặt', CAST(900000.00 AS Decimal(18, 2)), CAST(400000.00 AS Decimal(18, 2)), N'Đã thanh toán', CAST(N'2026-04-13T15:31:45.3200000' AS DateTime2), CAST(N'2026-04-13T15:31:45.3200000' AS DateTime2), NULL, NULL)
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaDatPhong], [TienPhong], [TienDichVu], [PhuongThucThanhToan], [TienKhachDua], [TienTraLai], [TrangThai], [NgayLap], [NgayThanhToan], [SoHoaDon], [MaNhanVienLap]) VALUES (2, 12, CAST(500000.00 AS Decimal(18, 2)), CAST(350000.00 AS Decimal(18, 2)), N'Chuyển khoản', NULL, NULL, N'Đã thanh toán', CAST(N'2026-04-13T19:43:36.5666667' AS DateTime2), CAST(N'2026-04-13T19:43:36.5666667' AS DateTime2), NULL, NULL)
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaDatPhong], [TienPhong], [TienDichVu], [PhuongThucThanhToan], [TienKhachDua], [TienTraLai], [TrangThai], [NgayLap], [NgayThanhToan], [SoHoaDon], [MaNhanVienLap]) VALUES (3, 13, CAST(2000000.00 AS Decimal(18, 2)), CAST(3050000.00 AS Decimal(18, 2)), N'Chuyển khoản', NULL, NULL, N'Đã thanh toán', CAST(N'2026-04-13T20:58:26.3800000' AS DateTime2), CAST(N'2026-04-13T20:58:26.3800000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [SDT]) VALUES (3, N'Phạm Thị Hoa', N'066305000394', N'0942713589')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [SDT]) VALUES (4, N'Tran Nguyen Ngoc Anh', N'001305018580', N'0972363905')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [SDT]) VALUES (6, N'Phạm thị hoa', N'000000000000', N'0942713589')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhong] ON 

INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [SoNguoiToiDa], [GiaTien]) VALUES (1, N'Phòng đơn', 2, CAST(500000.00 AS Decimal(18, 2)))
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [SoNguoiToiDa], [GiaTien]) VALUES (2, N'Phòng đôi', 4, CAST(800000.00 AS Decimal(18, 2)))
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [SoNguoiToiDa], [GiaTien]) VALUES (3, N'VIP', 2, CAST(1500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[LoaiPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [TinhTrang], [Tang], [MaLoaiPhong]) VALUES (1, N'P101', N'Dọn dẹp', 1, 1)
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [TinhTrang], [Tang], [MaLoaiPhong]) VALUES (2, N'P102', N'Dọn dẹp', 1, 1)
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [TinhTrang], [Tang], [MaLoaiPhong]) VALUES (3, N'P103', N'Dọn dẹp', 1, 1)
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
/****** Object:  Index [UQ__HoaDon__6344ADEBBFD0D268]    Script Date: 4/14/2026 9:54:26 AM ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AADDA420D3]    Script Date: 4/14/2026 9:54:26 AM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__A955A0AA2EFD8FCC]    Script Date: 4/14/2026 9:54:26 AM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Phong__7C736CA1152CCAEF]    Script Date: 4/14/2026 9:54:26 AM ******/
ALTER TABLE [dbo].[Phong] ADD UNIQUE NONCLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDichVu] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DatPhong] ADD  DEFAULT (sysdatetime()) FOR [ThoiGianDat]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienPhong]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienDichVu]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (sysdatetime()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD FOREIGN KEY([MaDatPhong])
REFERENCES [dbo].[DatPhong] ([MaDatPhong])
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaDatPhong])
REFERENCES [dbo].[DatPhong] ([MaDatPhong])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNhanVienLap])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD CHECK  (([SoNguoi]>(0)))
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã đặt' OR [TrangThai]=N'Đã trả' OR [TrangThai]=N'Đang ở'))
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_DatPhong_NgayTraHopLe] CHECK  (([NgayTraDuKien]>=CONVERT([date],[ThoiGianNhan])))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_DatPhong_NgayTraHopLe]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD CHECK  (([LoaiDichVu]=N'Di chuyển' OR [LoaiDichVu]=N'Nhà hàng' OR [LoaiDichVu]=N'Bar' OR [LoaiDichVu]=N'Spa'))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([PhuongThucThanhToan]=N'Chuyển khoản' OR [PhuongThucThanhToan]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TienDichVu]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TienKhachDua]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TienPhong]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TienTraLai]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TrangThai]=N'Chưa thanh toán' OR [TrangThai]=N'Đã thanh toán'))
GO
ALTER TABLE [dbo].[LoaiPhong]  WITH CHECK ADD CHECK  (([GiaTien]>=(0)))
GO
ALTER TABLE [dbo].[LoaiPhong]  WITH CHECK ADD CHECK  (([SoNguoiToiDa]>(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([Tang]>(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([TinhTrang]=N'Bảo trì' OR [TinhTrang]=N'Dọn dẹp' OR [TinhTrang]=N'Đang ở' OR [TinhTrang]=N'Trống'))
GO
/****** Object:  StoredProcedure [dbo].[sp_TimPhongTrong]    Script Date: 4/14/2026 9:54:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_TimPhongTrong]
    @ThoiGianNhanMoi DATETIME2,
    @ThoiGianTraMoi DATETIME2
AS
BEGIN
    SELECT 
        p.MaPhong,
        p.SoPhong,
        p.TinhTrang,
        p.Tang,
        p.MaLoaiPhong,
        lp.TenLoaiPhong
    FROM Phong p
    INNER JOIN LoaiPhong lp ON p.MaLoaiPhong = lp.MaLoaiPhong
    WHERE p.MaPhong NOT IN
    (
        SELECT dp.MaPhong
        FROM DatPhong dp
        WHERE dp.TrangThai IN (N'Đã đặt', N'Đang ở')
          AND @ThoiGianNhanMoi < dp.ThoiGianTra
          AND @ThoiGianTraMoi > dp.ThoiGianNhan
    )
    ORDER BY p.Tang, p.SoPhong;
END
GO
